<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
           <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
           </li>
           <li class="nav-item active">
               <a class="nav-link" [routerLink]="['/about']">About</a>
           </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" (keydown)="onKey($event)" (keyup)="onKey($event)">
        </form>
    </div>
</nav>
<div *ngIf='!view'>
    <h2>יואל פייבלזון</h2>
</div>
<div class="container-fluid" *ngIf='view && apiCoingeckoService.coins'>
    <ng-container *ngFor="let coin of apiCoingeckoService.coins; let i=index">
         <!-- <app-card-coin *ngIf='i<100' class="col-3 float"  [coin]='coin' (emit)='emit()'></app-card-coin> -->
         <app-card-coin *ngIf='i<100' class="col-3 float"  [coin]='coin'></app-card-coin>
    </ng-container>
</div>