<div class="container-fluid fixed-background">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav navbar-expand mr-auto">
           <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
           </li>
           <li class="nav-item active">
               <a class="nav-link" [routerLink]="['/about']">About</a>
           </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" (keydown)="onKey($event)" (keyup)="onKey($event)">
        </form>
    </div>
</nav>
 <div *ngIf='!view' >
    <div > 
 <pre>

                        
                                                                    ע"י יואל פייבלזון

                                                                        שלום רבי יעקב  
                                                        אני מקווה שאהבת את הפרוייקט.
                                                       אני אהבתי, היה מאתגר ומעניין.
                                        
                                                בהתחלה השתמשתי בכל מה שלימדת על rxjs.
                        אבל זה עבד פחות יעיל ממה שעשיתי בסוף (וגם הקוד יותר מגושם).
                  האם כשאני שולח אינפוט לקומפננט, אנגולר מפקח על השינוים באובייקט?
             למיטב זכרוני מה שאמרת בשיעור היה רק על עבודה באמצעות רפרנסים מהסרויס.
                                                                    עכ"פ כרגע זה עובד.
                                            ,לא מצאתי פתרון לשמור על מצב הכפתור
                                            אחרי שהמשתמש לוחץ על ביטול
                                  .חוץ מלקרוא לקונסטרקטור של הקומפוננט באמצע התכנית
                                  ד"א מייד אחרי שהמשתמש לוחץ על ביטול יש באג מסוים שבהתחלה 
                                  גרם לזה שיהיה אפשר יותר מחמש מטבעות
                                  וכרגע זה רק דורש לחיצה נוספת כדי לפעול
                                  דבר אחר החיפוש עובד גם מהדף הזה
</pre>
</div> 
    <img class="img-about" src="../../assets/IMG_20210201_173637.jpg" style="float: inline-end; height: 432px;width: 324px;">                                 
</div>
<div class="container-fluid" *ngIf='view && apiCoingeckoService.coins'>
    <ng-container *ngFor="let coin of apiCoingeckoService.coins; let i=index">
         <!-- <app-card-coin *ngIf='i<100' class="col-3 float"  [coin]='coin' (emit)='emit()'></app-card-coin> -->
         <app-card-coin *ngIf='i<100' class="col-3 float"  [coin]='coin'></app-card-coin>
    </ng-container>
</div>
</div>