<!-- <div *ngIf='!apiCoingeckoService.coins'> -->
  <!-- <div class="card" > -->
  <div class="card">
    <div class="card-body">
      <div class="justify-content-between">
        <div class="row">
        <h5 class="card-title col">{{coin.name}}</h5>
        <div #checkbox class="custom-control custom-switch form-inline"> 
          <input type="checkbox"  class="custom-control-input " [id]="coin.symbol"  [checked]='checked' (click)='myFunction()'>
          <label class="custom-control-label checked" [for]="coin.symbol"></label>
        </div> 
      </div>
       <p class="card-text">{{coin.symbol}}        </p>
        <p class="card-text">market cap  <br>{{coin.market_data.market_cap.usd  | currency}}</p>
         <button #button type="button" class="btn btn-dark" (click)="click()">{{info}} Info</button>
        </div>
    </div>  
  </div>
<!-- </div>   -->
<ng-container *ngIf='visibility'>
  <div class="card">
    <div class="card-body">
      <ng-container *ngIf='nonUpdated'>
        <small>לא מעודכן</small>
      </ng-container>
      <ng-container *ngIf='!more'>
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </ng-container>  
      <ng-container *ngIf='more'>  
        <p class="card-text">EUR : {{more.market_data.current_price.eur | currency:'EUR'}}</p>
        <p class="card-text">USD : {{more.market_data.current_price.usd | currency:'EUR'}}</p>
        <p class="card-text">ILS : {{more.market_data.current_price.ils | currency:'ILS'}}</p>
       <img [src]="more.image.small" />
      </ng-container>
    </div>
  </div>
</ng-container>
