<div class="card" style="width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">{{coin.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{coin.symbol}}</h6>
      <p class="card-text">price : {{coin.market_data.current_price.usd}} $</p>
      <button #button type="button" class="btn" (click)="click()">toggle</button>
     <!-- <a href="#" class="card-link">Another link</a> -->
    </div>
  </div>
  <!-- <div [ngStyle]={visibility:st()} #raedMore style="width: 16rem; "> -->
<ng-container *ngIf='visibility'>
    fff
</ng-container>
<!-- </div> -->
  <!-- קרא עוד -->
 <!-- <button type="button" class="card-link" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
          aria-controls="collapseExample">
          raed more
        </button>
       -->
<!-- <div style="width: 16rem;" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div class="card">
      <div class="card-body">
        You can collapse this card by clicking Toggle
      </div>
    </div>
</div> -->