<!-- <div *ngIf='!apiCoingeckoService.coins'> -->
  <!-- <div class="card" > -->
  <div class="card">
    <div class="card-body">
      <div class="justify-content-between">
        <h5 class="card-title">{{coin.name}}</h5>
        <p class="card-text">    {{coin.symbol}}        </p>
        <p class="card-text">price : {{coin.market_data.current_price.usd  | currency}}</p>
        <div #checkbox class="custom-control custom-switch form-inline"> 
          <input type="checkbox"  class="custom-control-input " [id]="coin.symbol"  [checked]='checked' (click)='myFunction()'>
          <label class="custom-control-label checked" [for]="coin.symbol"></label>
        </div> 
        <button #button type="button" class="btn btn-dark" (click)="click()">{{info}} Info</button>
      </div>
    </div>  
  </div>
<!-- </div>   -->
<ng-container *ngIf='visibility'>
  <div class="card" >
    <div class="card-body">
      <ng-container *ngIf='nonUpdated'>
        <small>לא מעודכן</small>
      </ng-container>
      <ng-container *ngIf='!more'>
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </ng-container>  
      <ng-container *ngIf='more'>  
        <p class="card-text">EUR : {{coin.market_data.current_price.eur | currency:'EUR'}}</p>
        <p class="card-text">ILS : {{coin.market_data.current_price.ils | currency:'ILS'}}</p>
       <img [src]="more.image.small" />
      </ng-container>
    </div>
  </div>
</ng-container>
