/* You can add global styles to this file, and also import other style files */
.float{
    float: left;

}
.card{
    margin-bottom: 2rem;
    /* margin-left: 1rem; */
    padding: 1px;
    
}
@media (min-width: 1220px){
    .card{
        width: 19rem; height: 13rem;
    }
}
@media (min-width: 992px){
.fixed-background {
    background-image: url("https://i.stack.imgur.com/90nGa.jpg");
    height: 3600px;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
}
}
@media only screen and (max-width:600px) {
    .fixed-background {
        background-attachment: scroll;
    }
}
@media only screen and (max-width:768px) {
    .fixed-background {
        background-image: url("https://i.stack.imgur.com/90nGa.jpg");
        background-attachment: fixed;
        background-position: center center;
        background-repeat: repeat;
        background-size: cover;
        /* background-attachment: scroll; */
        height: 15100px;
    }
}
@media only screen and (max-width:992px) {
    .fixed-background {
        background-image: url("https://i.stack.imgur.com/90nGa.jpg");
        background-attachment: fixed;
        background-position: center center;
        background-repeat: repeat;
        background-size: cover;
        /* background-attachment: scroll; */
        height: 12500px;
    }
}
.nav-item{
    margin-left: 7px;
}

