<div class="container-fluid fixed-background">
  <nav class="navbar navbar-light bg-light ">
  <!-- <nav class="navbar navbar-light bg-light sticky-top"> -->
          <ul class="navbar-nav navbar-expand mr-auto">
            <li class="nav-item active">
                  <!-- <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a> -->
                  <button class="nav-link" (click)="emitF()">About <span class="sr-only">(current)</span></button>
            </li>
            <li class="nav-item active">
                <!-- <a class="nav-link" (click)="emitF()">About</a> -->
                <!-- <a class="nav-link" [routerLink]="['/about']">About</a> -->
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" (keydown)="onKey($event)" (keyup)="onKey($event)">
          </form>
       </nav>
  <!-- אין קליטה -->
  <div *ngIf='!apiCoingeckoService.coins' class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <!-- אין קליטה -->
  <div style="height: 400px;"></div>
  <div  *ngIf='apiCoingeckoService.coins'>
      <ng-container *ngFor="let coin of apiCoingeckoService.coins; let i=index">
          <app-card-coin *ngIf='i<100' class="col-12 col-sm-6 col-md-4 col-lg-3 float"  [coin]='coin' [checked]='coin.add' (emit)='emit()'></app-card-coin>
      </ng-container>
  </div>
</div>
